/* Exercici 1 - GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Exercici 2 - LOGO */

header > h1 {
    font-family: 'Lobster', cursive;
    color: #05c46b;
    text-shadow: 0px 0px 20px #808e9b;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 0.5em;
}

/* Exercici 4 - SIDEBAR */
aside > section {
    border: 5px dashed #7f8c8d;
    margin-bottom: 20px;
    
}

aside > section > h2 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

tr > th {
    background-color: black;
    color: white;
}

tr > td:first-of-type {
    background-color: white;
    color: black;
}

tr > td:nth-of-type(2n) {
    background-color: gray;
    color: black;
}


/* Exercici 5 - CONTAINER */
main > section {
    background-image: url("/Disseny/esquelet/img/background4.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

section > h1 {
    font-family: 'Lobster', cursive;
    color: #05c46b;
    text-shadow: 0px 0px 20px #808e9b;
    text-decoration: underline;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 0.48em;
    margin-bottom: 20px;
}

section > p {
    color: #1e272e;
    text-indent:50px;
    text-align: justify;
    margin-bottom: 30px;
}

p::first-line {
    font-size: 2em;
    color: #05c46b;
}

section > p:nth-of-type(2){
    color: #3c40c6;
}

/* Exercici 6 - GALLERY */

div#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

article > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    
}

article > img:hover {
    transition: 2s;
    transform: rotate(360deg);
    filter: grayscale(0%);
}

article > h3 {
    border-radius: 50%;
    background-color: #d2dae2;
    text-align: center;
}

section > h2 {
    margin-left: -30px;
}

/* Exercici 7 - INFINITE DOG */
footer > h2 {
    background-color: #05c46b;
}

footer > div#animation {
    background-image: url("/Disseny/esquelet/img/animation/long-dachshund-dog-cartoon-vector-1116614.jpg");
    position: relative;
    height: 100px;
    animation-name: moure;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moure {
    from{transform: translate3d(0,0,0);}
    to{transform: translate3d(0,0,0); }
}


/* Exercici 3 - LAYOUT RESPONSIVE */
@media screen and (min-width: 600px) {
    
    body {
        font-size: 12px;
        background-color: #485460;
        font-family: 'Quicksand', sans-serif;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: auto auto auto;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }
    
    body > aside {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        background-color: #05c46b;
        padding: 30px;
    }
    
    body > main {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    
    body > footer {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
}

/* Exercici 8 - RESPONSIVE */
  
@media screen and (max-width: 600px) {
    body {

        font-size: 12px;
        background-color: #485460;
        font-family: 'Quicksand', sans-serif;
        max-width: 1000px;
    
        margin: auto;
    
        /* 3 LAYOUT */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;


    }

    header {
        grid-row: 1 / 2;
    }
    
    body > aside {
        display: none;
    }
    
    body > main {
        grid-row: 2 / 3;
    }
    
    body > footer {
        grid-row: 3 / 4;
    }
}