* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (max-width: 721px) {

    /* Container Principal*/
    #container {
        height: auto;
        width: 100%;
        font-family: 'Outfit', sans-serif;
        background-color: rgb(252, 248, 248);
        display: grid;
        grid-template-rows: 50px 800px 400px auto 750px 850px;
    }

     /* -------------- HEADER ---------------------- */

    
    #header {
        background-color: white;
        position: sticky;
        top: 0;
        grid-row: 1 / 2;
        display: flex;
        overflow: hidden;
        z-index: 10;   
    }

    #header div {
        width: 50%;
        height: 100%;
    }

    .header-centre {
        display: none;
    }

    .header-esquerra *{
        height: 45px;
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
    }

    .header-esquerra *:hover{
        border: 2px solid gray;
        border-radius: 10px;
        padding: 5px;
    }

    .header-dreta *:hover{
        border: 2px solid gray;
        border-radius: 10px;
        padding: 5px;
    }

    .header-esquerra img {
        height: 30px;
        width: 60px;
        margin-bottom: 34px;
    }

    .header-dreta * {
        float: right;
        height: 45px;
        width: 30px;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 3px;
    }


/* --------------- DESTACAT 1---------------------- */
    #destacat1 {
        background-image: url("img/destaca1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-row: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-destacat1 {
        height: auto;
        width: 85%;
        color: whitesmoke;
        padding:10px;
        margin-bottom: 28px;
        overflow: hidden;
    }
    .div-destacat2, .div-destacat3 {
        display: none;
    }

/* Components Sub-Div New Arrivals (newarr)*/
    #titol-newarr {
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 800;
    }
    #subtitol-newarr {
        font-size: 20px;
        font-weight: 800;
    }
    #paragraf-newarr {
        margin-left: 56px;
        font-size: 13px;
        font-weight: 400;
        opacity: 0.7;
    }

/* BOTO NEW ARRIVALS */
    #btn-shopnow {
        color: black;
        margin-top: 21px;
        width: 44%;
        height: 45px;
        margin-bottom: 13px;
        background-color: whitesmoke;
        border-radius: 4px;
        font-weight: 900;
        border: 2px solid whitesmoke;
    }

/* ------------ DESTACAT 2 --------------------- */
    #destacat2 {
        background-image: url("img/destaca2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-row: 3 / 4;
        display: flex;
        justify-content: flex-start;
        padding: 20px;
    }
    .standup {
        height: auto;
        width: 80%;
        padding: 10px;
        margin-left: 22px;
        overflow: hidden;
    }

/* Componenets Div-Stand Up */
    .titol-standup {
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 900;
    }
    .subtitol-standup {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .p-standup {
        font-size: 14px;
        opacity: 0.8;
        font-weight: 600;
    }

/* BOTO STANDUP */
    #shopnow {
        color: white;
        width: 46%;
        height: 12%;
        background-color: rgb(20, 17, 17, 0.9);
        border-radius: 4px;
        font-weight: 800;
        border: 2px solid rgb(20, 17, 17, 0.9);
    }

/* --------------- TENDA --------------------- */
    #tenda {
        grid-row: 4 / 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: white;
    }

/* Components Titol Tenda */
    #newpro {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    #div-titol-tenda {
        width: 70%;
        text-align: center;
    }
    #div-viewall{
        width: 15%;
        text-align: right;
    }
    #text-viewall {
        margin-top: 5px;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 600;
    }
    .titol-tenda {
        font-weight: 900;
        font-size: 1.5em;
    }

/* Components Div Producte */
    .div-producte {
        width: 48%;
        height: 430px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        /* background-color: rgb(250, 237, 218); */
    }

/*  Div foto producte*/
    #div-foto-producte{
        height: 64%;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 4px;
        display: flex;
        flex-flow: column nowrap;
    }
    .div-producte svg{
        display: none;
    }
    .div-item-producte, .div-boto-producte {
        height: 20%;
        width: 100%;
    }

/* Items div foto producte*/
    #item-producte {
        float: right;
        text-align: center;
        width: 20%;
        padding: 8px;
        margin: 13px;
        background-color: maroon;
        color: whitesmoke;
    }
    #boton-añadir-carrito {
        width: 100%;
        height: 100%;
        font-weight: 700;
        font-size: 20px;
        border-radius: 4px;
        background-color: white;
    }

/* Div dades producte */
    .dades-producte {
        height: 9%;
        width: 100%;
    }
    #estrelles-producte {
        display: none;
    }
    .div-dades-producte-iconos {
        height: 5%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    .icono-color {
        border-radius: 50%;
        height: 100%;
        width: 10%;
        margin-right: 5px;
    }
    .icono-color:hover {
        border: 2px solid black;
    }

/*  */
    #marca-producte { 
        color: grey;
        font-weight: 500;
        margin-top: 8px;
    }
    #nom-producte {
        font-size: 15px;
        margin-top: 5px;
        font-weight: 800;
    }
    #preu-producte {
        font-size: 17px;
        font-weight: 800;
    }
    #color-producte {
        display: none;
    }

/* -------------- OPINIO -------------------- */
    #opinio {
        grid-row: 5 / 6;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
    }

    .titol-opinio {
        width: 100%;
        height: 15%;
        text-align: center;
    }

    .titol-introduccio {
        font-weight: 900;
        font-size: 25px;
        opacity: 0.8;
    }

    .subtitol-introduccio {
        font-weight: bold;
        opacity: 0.8;
    }

    .div-customer {
        display: none;
    }

    .customer {
        height: 65%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 50px;

        
        
    }

    .div-customer-mobile {
        height: 100%;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;

      
    }

    .fletxa-esquerra {
        width: 5%;
        height: 10%;
        padding-left: 1%;
        
    }

    .fletxa-esquerra * {
        height: 100%;
        width: 70%;
    }

    .fletxa-dreta {
        width: 5%;
        height: 10%;
        padding-left: 1.5%;
    }

    .fletxa-dreta * {
        height: 100%;
        width: 70%;
    }

    /* */

   

    .div-customer div * {
        text-align: center;
    }

    .foto-customer {
        height: 300px;
        width: 300px;
        background-image: url("img/customer-foto.PNG");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
    }

    .estrelles-customer {
        height: 10%;
        
    }

    .estrelles-customer svg {
        height: 100%;
    }

    .text-customer {
        font-weight: 600;
        height: 20%;
        width:100%;
    }

    .reds-customer {
        opacity: 0.8;
        color: gray;
        font-weight: 500;
        font-size: 17px;
        height: 10%;
        width:100%;

    }

    .nav-pointer {
        width: 100%;
        height: 10%;
        text-align: center;
    }

    #nav {
        margin-top: 25px;

    }

    #nav svg {
        margin-right: 5px;
        margin-left: 5px;
    }

    #nav svg:hover {
        background-color: black;
        border-radius: 100%;
    }

/* ------------- FOOTER --------------------- */

    #footer {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(20, 17, 17, 0.9);
        padding: 12px;
        color: white;
    }
    #footer svg { 
        float: right;
        border-radius: 3px;
        margin-top: 4px;
        background-color: rgba(36, 31, 31, 0.9);
    }

/* DIV FOOTER DADES-ICONO*/
    .footmenu-dades {
        width: 100%;
        height: 40%;
        padding-top: 80px;
    }
    .dades {
        font-size: 19px;
        font-weight: 300;
        opacity: 0.7;
    }

/* DIVS FOOTER MENU */
    .customerservice, .information, .shopby {
        width: 100%;
        height: 10%;
        border-bottom: 2px solid white;
    }
    .item-footer {
        font-size: 22px;
        font-weight: 700;
        opacity: 0.9; 
    }
    .item-footer a, .item-footer br {
        display: none;
    }

/* DIV FOOTER */
    .div-newsletter {
        width: 100%;
        height: 30%;
        padding-top: 40px;
    }
    .titol-newsletter {
        margin: 5px;
        font-size: 22px;
        font-weight: 700;
        opacity: 0.9;
    }
    .subtitol-footer {
        margin: 5px;
        font-size: 15px;
        font-weight: 700;
        opacity: 0.7;
    }

/* INPUTS FOOTER*/
    .inputs-footer {
        padding-top: 20px;
    }
    #emailinput {
        color: rgb(20, 17, 17, 0.9);;
        width: 70%;
        height: 55px;
        border-radius: 6px;
        margin-right: 5px;
    }
    #btnfooter {
        color: rgb(20, 17, 17, 0.9);
        width: 26%;
        height: 55px;
        border-radius: 6px;
        background-color: rgb(209, 191, 24);
        font-weight: 900;
    }

}/* FI MEDIA-MOBILE */

/* ******************************************************************************************************************** */
@media screen and (min-width: 722px) {


    #container {
        display: grid;
        grid-template-rows: 40px 570px 450px auto auto 300px ;
        grid-template-columns: 100%;
    
    }

        /* -------------- HEADER ---------------------- */

    
        #header {
            background-color: white;
            position: sticky;
            top: 0;
            grid-row: 1 / 2;
            display: flex;
            overflow: hidden;
            z-index: 10;   
        }
    
        #header .header-esquerra  {
            width: 16%;
            height: 100%;
        }

        #header .header-dreta  {
            width: 16%;
            height: 100%;
        }

        #header .header-centre  {
            width: 68%;
            height: 100%;
            font-weight: 800;
        }
    
        .header-esquerra *{
            height: 45px;
            width: 40px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 2px;
        }

        .header-esquerra svg{
            display: none;
        }
    
        .header-esquerra *:hover{
            border: 2px solid gray;
            border-radius: 10px;
            padding: 5px;
        }

        .header-esquerra img {
            height: 30px;
            width: 60px;
            margin-bottom: 34px;
        }

        .header-centre {
            padding-top: 10px;
            text-align: center;
            overflow: hidden;
        }

        .header-centre a {
            color: black;
            text-decoration: none;
            margin-right: 9px;
            margin-left: 9px;
        }

        .header-dreta svg {
            float: right;
            height: 30px;
            width: 26px;
            margin-right: 20px;
            margin-top: 5px;
        }
    
        .header-dreta svg:hover{
            border: 2px solid gray;
            border-radius: 10px;
            padding: 5px;
        }
    

    /* -------------- DESTACAT 1 DESKTOP-------------------- */
        #destacat1 {
            grid-row: 2 / 3;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-content: center;
            margin-bottom: 40px;
            background-color: rgba(187, 114, 114, 0.9);
        }
        .div-destacat1 {
            height: 70%;
            width: 33%;
            color: black;    
        }
        .div-newarr {
            height: 100%;
            width: 60%;
            margin: auto;
        }
        .div-destacat2 {
            height: 70%;
            width: auto;
            text-align: center;
            font-size: 50px;
            font-weight: 700;
        }
        .titol-find {
            width: 40%;
            margin: auto;
            color: black;  
        }
        .subrallat {
            text-decoration: underline;
        }
        .div-destacat3 {
            height: 70%;
            width: 33%;
        }
    
/* Components Sub-Div New Arrivals (newarr)*/
        #titol-newarr {
            font-size: 30px;
            letter-spacing: 5px;
            font-weight: 800;
        }
        #subtitol-newarr {
            letter-spacing: 5px;
            font-size: 17px;
            font-weight: 800;
        }
        #paragraf-newarr {
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 400;
        }

/* BOTO NEW ARRIVALS */
        #btn-shopnow {
            color: black;
            width: 50%;
            height: 35px;
            background-color: whitesmoke;
            border-radius: 4px;
            font-weight: 900;
            border: 2px solid black;
            margin-top: 10px;
        }

/* ------------ DESTACAT 2 --------------------- */
    #destacat2 {
        grid-row: 3 / 4;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        background-color: rgba(132, 175, 196, 0.9)
    }
    .standup {
        height: auto;
        width: 25%;
        padding-top: 70px;
    }

/* Componenets Div-Stand Up */
    .titol-standup {
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 900;
    }
    .subtitol-standup {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .p-standup {
        font-size: 13px;
        font-weight: 600;
    }

/* BOTO STANDUP */
    #shopnow {
        color: white;
        width: 43%;
        height: 11%;
        background-color: rgb(20, 17, 17, 0.9);
        border-radius: 4px;
        font-weight: 800;
        border: 2px solid rgb(20, 17, 17, 0.9);
    }

/* --------------- TENDA --------------------- */
    #tenda {
        grid-row: 4 / 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: white;
        gap: 9px;
    }

/* Components Titol Tenda */
    #newpro {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    #div-titol-tenda {
        width: 70%;
        text-align: center;
    }
    #div-viewall{
        width: 15%;
        text-align: right;
    }
    #text-viewall {
        margin-top: 5px;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 600;
    }
    .titol-tenda {
        font-weight: 900;
        font-size: 1.5em;
    }

/* Components Div Producte */
    .div-producte {
        width: 24%;
        height: 700px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column nowrap;
    }

/* */
    #div-foto-producte{
        height: 70%;
        width: 100%;
        background-color: whitesmoke;
        margin-bottom: 15px;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 10px;
    }

    .div-item-producte {
        height: 7%;
        width: 100%;
    }

    /* */
    #item-producte {
        float: right;
        text-align: center;
        width: 12%;
        background-color: maroon;
        color: whitesmoke;
    }

    #boton-añadir-carrito {
        display: none;
    }

/* Divs dades producte */
    .dades-producte {
        height: 5%;
        width: 100%;
        padding-top: 4px;
    }
    #div-dades-producte-nom {
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    #marca-producte { 
        color: grey;
        font-size: 13px;
        font-weight: 500;
    }
    #nom-producte {
        font-size: 15px;
        font-weight: 800;
    }
    #preu-producte {
        font-size: 14px;
        font-weight: 900; 
    }
    #color-producte {
        padding-top: 5px;
        text-align: end;
        height: 100%;
        width: 20%;
        color: grey;
        font-size: 14px;
        font-weight: 600;
    }

/* Icones colors productes */
    .div-dades-producte-iconos {
        height: 5%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    .icono-color {
        border-radius: 50%;
        height: 100%;
        width: 10%;
        margin-right: 5px;
    }
    .icono-color:hover {
        border: 2px solid black;
    }
 
/* -------------- OPINIO -------------------- */
    #opinio {
        grid-row: 5 / 6;
        min-height: 700px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
    }

    /* */

    .titol-opinio {
        width: 100%;
        height: 25%;
        text-align: center;
    }

    .titol-introduccio {
        font-weight: 900;
        font-size: 25px;
        opacity: 0.8;
    }

    .subtitol-introduccio {
        margin-bottom: 30px;
        font-weight: bold;
        opacity: 0.8;
    }

    /* */

    .customer {

        background-image: url("img/custoer.PNG");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 65%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .fletxa-esquerra {
        width: 5%;
        height: 10%;
        padding-left: 1%;
        
    }

    .fletxa-esquerra * {
        height: 100%;
        width: 70%;
    }

    .fletxa-dreta {
        width: 5%;
        height: 10%;
        padding-left: 1.5%;
    }

    .fletxa-dreta * {
        height: 100%;
        width: 70%;
    }

    /* */

    .div-customer, .div-customer-mobile {
        width: 16%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

       
    }

    .div-customer div *, .div-customer-mobile {
        text-align: center;
    }

    .foto-customer {
        height: 170px;
        width: 170px;
        background-image: url("img/customer-foto.PNG");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
    }

    .estrelles-customer {
        height: 7%;
    }

    .estrelles-customer svg {
        height: 100%;
        width: 16%;
    }

    .text-customer {
        overflow: hidden;
        font-weight: 600;
        height: 20%;
        width:100%;
    }

    .reds-customer {
        opacity: 0.8;
        color: gray;
        font-weight: 500;
        font-size: 17px;
        height: 10%;
        width:100%;

    }

    /* */

    .nav-pointer {
        width: 100%;
        height: 10%;
        text-align: center;
        padding-top: 20px;
    
    }

    #nav {
      
       
    }

    #nav svg {
        margin-right: 5px;
        margin-left: 5px;
    }

    #nav svg:hover {
        background-color: black;
        border-radius: 100%;
    }

/* ------------------ FOOTER --------------------- */

   #footer {
    grid-row: 6 / 7;
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    }

/* DIV FOOTER DADES-ICONO*/
    .footmenu-dades {
        width: 25%;
        height: 100%;
        color: white;
        overflow: hidden;
    }
    .div-icono-footer {
        height: 30%;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #icono-footer {
        height: 38px;
        margin-top: 65px;
    }
    .dades {
        height: 70%;
        width: 40%;
        font-size: 10px;
        font-weight: 300;
        opacity: 0.5;
        margin: auto;
    }

/* DIVS FOOTER MENU */
    .shopby, .information, .customerservice {
        width: 12%;
        height: 100%;
        color: white;
        padding: 10px;
    }
    .item-footer {
        font-weight: 700;
        opacity: 0.9;
        margin-top: 30px;
        overflow: hidden;
    }
    .item-footer a {
        font-size: 10px;
        margin-bottom: 5px;
        text-decoration: none;
        color: white;
        opacity: 0.5;
    }
    .item-footer svg{
        display: none;
    }

/* DIV FOOTER */
    .div-newsletter {
        width: 40%;
        height: 100%;
        color: white;
    }
    .newsletter {
        padding-top: 60px;
        width: 80%;
        margin: auto;
    }
    .titol-newsletter {
        font-size: 15px;
        font-weight: 700;
        opacity: 0.9;
    }
    .subtitol-footer {
        font-size: 10px;
        font-weight: 700;
        opacity: 0.5;
    }

/* INPUTS FOOTER*/
    .inputs-footer {
        padding: 0 !important;
    }
    #emailinput {
        color: rgb(20, 17, 17, 0.9);;
        width: 50%;
        height: 50px;
        border-radius: 6px;
    }
    #btnfooter {
        color: rgb(20, 17, 17, 0.9);
        width: 25%;
        height: 50px;
        font-size: 13px;
        border-radius: 6px;
        background-color: rgb(209, 191, 24);
        margin: 10px;
        font-weight: 900;
    }
        
}/* FIN MEDIA DESKTOP */