* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

#container-menu-mobile {
    width: 60%;
    height: 800px;
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    border-top: 2px solid lightgray;
    background-color: white;
}
.item-menu-mobile {
    height: 7%;
    width: 100%;
    border-bottom: 2px solid lightgray;
    font-size: 18px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 15px;
    color: black;
}
#options-mobile {
    margin-top: 10px;
    height: 18%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.subopcions-menu-mobile {
    font-size: 17px;
    height: 30%;
    padding-left: 15px;
}